html, body { margin: 0;	padding: 0;	}

body {
  background-image: url("bg.png");
  background-repeat: round;
	background-color:	#27606e;
}
body, table, input {
	font-size: 11px;
	line-height: 1.2em;
	font-family: tahoma;
	color: #c9c9c9;
}

#tetris	{
	position: relative;
	width: 272px;
	height:	308px;
	background:	#fff;
	border:	#00e5ff	5px	ridge;
	transform: scale(2, 2);
}

#tetris	.left {
	background:	#004161;
	position: absolute;
	width: 131px;
	height:	100%;
	left: 0px;
	top: 0px;
}
.left-border { background: #00e5ff;	position: absolute;	z-index: 100; top: 0px;	left: 127px; width:	0px; height: 100%; border-left:#00e5ff	5px	ridge }

#tetris-area {
	/* 168,308 +2px	borders	*/
	background:	#fff;
	position: absolute;
	width: 140px;
	height:	308px;
	left: 132px;
	top: 0px;
	overflow: hidden;
}

.grid {
  z-index: 10;
  position:	absolute;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 308px;
  background-image: url("grid.png");
  background-repeat: round;
  background-color:	black;
}

#tetris	.block0,
#tetris	.block1,
#tetris	.block2,
#tetris	.block3,
#tetris	.block4,
#tetris	.block5,
#tetris	.block6	{
	z-index: 1000;
	font-size: 10px;
	line-height: 1em;
	font-family: arial;
	position: absolute;
	width: 14px;
	height:	14px;
  	background-image: url("tile0.png");
  	background-repeat: round;
	/* with	margin 0.5px there were	problems with offsetLeft and offsetTop */
}

#tetris .style0 {
	z-index: 1000;
	font-size: 10px;
	line-height: 1em;
	font-family: arial;
	position: absolute;
	width: 14px;
	height:	14px;
  	background-image: url("tile0.png");
  	background-repeat: round;
}

#tetris .style1 {
	z-index: 1000;
	font-size: 10px;
	line-height: 1em;
	font-family: arial;
	position: absolute;
	width: 14px;
	height:	14px;
  	background-image: url("tile1.png");
  	background-repeat: round;
}

#tetris .style2 {
	z-index: 1000;
	font-size: 10px;
	line-height: 1em;
	font-family: arial;
	position: absolute;
	width: 14px;
	height:	14px;
  	background-image: url("tile2.png");
  	background-repeat: round;
}

#tetris .style3 {
	z-index: 1000;
	font-size: 10px;
	line-height: 1em;
	font-family: arial;
	position: absolute;
	width: 14px;
	height:	14px;
  	background-image: url("https://tr.rbxcdn.com/fdacb9a2646b52082d6458a215214afc/420/420/Decal/Png");
  	background-repeat: round;
}

#tetris .left h1, #tetris .left h2 {
	color: #826C55;
	font-size: 11px;
	font-family: "trebuchet	ms", arial;
	font-weight: bold;
	text-align:	center;
	margin-top:	5px;
	margin-bottom: 0px;
}
#tetris	.left h1 a {
	color: #00e5ff;
	text-decoration: none;
}
#tetris	.left h1 a:hover {
	color: #ffffff;
	text-decoration: none;
}

/* menu	*/

#tetris	.left .menu	{
	margin-top:	1em;

}
#tetris	.menu a, #tetris .menu a:visited {
	display: block;
	text-decoration: none;
	color: #c9c9c9;
	background:	#000000;
	border-width: 2px;
	margin-bottom: 1px;
	border-color: #bababa;
  border-style: solid;
  border-radius: 15px;
	cursor:	pointer;
	text-align:	left;
	padding-left: 10px;
	height: 15px;
	line-height: 19px;
	width: 78px;
	padding-bottom: 1px;
	margin-left: 20px;
}
#tetris .menu a:hover {
  background: #c6cf2d;
  color: white;
  box-shadow: 5px 5px 10px rgba(198, 207, 45, 0.4),
             -5px -5px 10px rgba(198, 207, 45, 0.4),
             -5px 5px 10px rgba(198, 207, 45, 0.4),
              5px -5px 10px rgba(198, 207, 45, 0.4);
}

a {
  color: #00e5ff; 
}

a:hover {
  color: white;
}

/* game	over */

#tetris-gameover {
	position: absolute;
	width: 100%;
	top: 50%;
	text-align:	center;
	font-weight: bold;
	display: none;
}

/* next	puzzle */
#tetris-nextpuzzle {
	position: absolute;
	top: 43%;
	left: 25%;
	background:	black;
	overflow: visible;
	display: none;
    width: 56px;
    height: 28px;
    border: 3px outset #00e5ff;
}
#tetris-heldpuzzle {
	position: absolute;
	top: 56%;
	left: 25%;
	background:	black;
	overflow: visible;
	display: none;
    width: 56px;
    height: 28px;
    border: 3px outset #00e5ff;
}
#tetris-keys {
	position: absolute;
	left: 25px;
	top: 135px;
}
#tetris div.h5 { margin-bottom: 0.5em; display: block; font-weight: bold; }
#tetris-keys td { padding-right: 1px; padding-bottom: 1px; }
#tetris-keys img { border-width: 0px; }

/* stats */

#tetris	.left .stats {
	position: absolute;
	left: 25px;
	bottom:	5px;
}
#tetris	.stats td {	padding-bottom:	1px; line-height: 1.25em; }

#tetris	.stats .level {	text-align:	left; padding-right: 5px; }
#tetris-stats-level	{ font-weight: bold; }

#tetris	.stats .time { text-align: left; padding-right:	5px; }
#tetris-stats-time { font-weight: bold;	}

#tetris	.stats .apm	{ text-align: left;	padding-right: 5px;	}
#tetris-stats-apm {	font-weight: bold; }

#tetris	.stats .lines {	text-align:	left; padding-right: 5px; }
#tetris-stats-lines	{ font-weight: bold; }

#tetris	.stats .score {	text-align:	left; padding-right: 5px; }
#tetris-stats-score	{ font-weight: bold; }


/*
	|
	---
*/
#tetris	.block1	{ background-color: #0062ff; }

/*
	  |
	---
*/
#tetris	.block0	{ background-color: #FF7F00; }



/*
	--
   --
*/
#tetris	.block2	{ background-color: #08f700; }

/*
	--
	 --
*/
#tetris	.block3	{ background-color: #ff0000; }

/*
	|
   ---
*/
#tetris	.block4	{ background-color: #bc32fc; }

/*
	--
	--
*/
#tetris	.block5	{ background-color: #ffff00;	}

/*
	----
*/
#tetris	.block6	{ background-color: #00eeff; }


/*** window	***/

#tetris	.window	{
	background:	#000000;
	position: absolute;
	width: 140px;
	height:	308px;
	left: 132px;
	top: 0px;
	z-index: 50000;
	display: none;
}
#tetris	.window	.top {
	position: relative;
	background:	#000000;
	color: #c9c9c9;
	letter-spacing:	+1px;
	height:	20px;
	line-height: 20px;
	vertical-align:	middle;
	border-bottom: 1px solid #009aab;
	text-indent: 10px;
}
#tetris	.window	.top .close	{
	position: absolute;
	background:	#000000;
	font-family: verdana;
	font-weight: bold;
	right: 0px;
	top: 0px;
	height:	20px;
	line-height: 19px;
	text-indent: 7px;
	width: 21px;
	border-left: 1px solid #009aab;
  border-bottom: 1px solid #00e5ff;
	cursor:	pointer;
}
#tetris	.window	.top .close:hover {
	background:	#c6cf2d;
  color: white;
}
#tetris	.window	.content {
	margin:	10px;
}
#tetris	.window	.content table {
}
